.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  padding: 0.5rem 0;
  background-color: #ca0000;
}

.header-container > div {
  text-decoration: underline;
  color: white;
  font-size: 2rem;
  border-radius: 5px;
}

.header-container a > div {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 5px;
}

.header-container a > div:hover {
  background-color: #970000;
}

a {
  text-decoration: none;
}
